language: python
# use new container infrastructure
# see: http://docs.travis-ci.com/user/migrating-from-legacy/
sudo: false
python:
  - "2.7"
  - "3.4"
before_install:
  # nothing to do, currently
# command to install dependencies
install:
  - python setup.py dev
# command to run tests
script:
  - coverage run setup.py test
  - coverage report --include='diceware*' --fail-under=100
